/**
 * Created by Shu Zhang on 12/10/14.
 * Contact: shuzhang404@gmail.com
 */


/* Default setting */
body, html, h1, h2, h3, h4, p, ul, ol, li {font-family: Tahoma,Verdana,STHeiTi, "lato-regular", "Helvetica Neue", "Helvetica", Helvetica, Arial !important; font-size: 14px;
    cursor: default;}

ul {overflow: hidden; list-style: none; padding: 0px;}
.button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: 50%;
    background: #f6756a;
    text-align: center;
    position: relative;
    color: white;

}

.button:hover {
    background: #f55f52;
}




#log {width:100%;height:100%;background: rgba(255,255,255,0.8);position: fixed;z-index: 999;top: 0px;display: none;}
#log-window {
    width: 150px;
    height: 200px;
    background: white;
    color: black;
    position: relative;
    top: 200px;
    margin: auto;
    padding: 20px 40px;
    -webkit-box-shadow:5px 5px 15px rgba(0,0,0,0.2); -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.2); box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
#log-window p {float: left;}
#log-button {
    background-color: rgba(111,110,255,0.4);
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    margin-top: 25px;
    position: relative;
    color: black;
}
#log-button:hover {cursor: pointer;background-color: rgba(111,110,255,0.8);}


#user {
    width: 100%;
    height: 50px;
}

#current-user {float: right;}
#current-task {float: left;}
#current-user a {
    cursor: pointer;
    color: #caf;
    text-decoration: underline;
    margin-left: 20px;
}
#current-user span,#current-task span {color: white;font-size: 16px;padding: 0 3px;}

#current-user,#current-task {color: #ADADAD;}

#image {left:400px;position: absolute;top:0px;}
/*.current-image {display: block !important;}*/
/*#image img {display: none;}*/

#panel {width: 300px;height:100%;padding: 0px 30px; background: #333;color:white;float: left;position: fixed;  top: 0px;margin-left: 0px;}
.steps {color: #6fdef7;font-size: 22px;}
.high-light {color:#f55f52;font-size: 18px;padding: 0 6px;}


#no-face {color: #f6756a;
    text-decoration: underline;
    top: 10px;
    position: relative;}

#no-face:hover {color:#f55f52;cursor: pointer}

#container, #canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.input {
    margin-top: 10px;
    color: #6fdef7;
}

#submit {
    position: absolute;
    top: 455px;
    right: 20px;}